.checkDialog{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.check-form{
  height: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
}

.list-check-items{
  margin-top: 30px;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
  clear: left;
}
  .check-item{
    margin-bottom: 8px;
  }

/* checkbox */
.el-checkbox__inner{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 3px solid #C3CFD9;
}
.el-checkbox__inner:hover{
  border-color: #C3CFD9;
}
.el-checkbox__inner::after{
  border: 3px solid #1AAE9F;
  height: 11px;
  left: 6px;
  border-left: 0;
  border-top: 0;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #FFFFFF;
  border-color: #C3CFD9;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #C3CFD9;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: black;
}

.check-form-bottom{
  margin: auto 0 0 0;
}

.btnCloseCheck{
  width: 100%;
  background-color: #1AAE9F;
  color: #FFFFFF;
}