.container{
    max-width: 1140px;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin: 0;
    float: left;
    /* font-size: 32px; */
    font-weight: 400;
}
.el-dropdown-link {
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.el-avatar {
    margin-right: 12px;
}
.el-icon-arrow-down {
    font-size: 12px;
}