*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

#app {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #DFE7ED;
}

a{
  text-decoration: none;
}

button{
  font-family: Roboto, sans-serif;
}

button:hover{
    color: #1AAE9F !important;
}

button:focus{
  color: #1AAE9F !important;
}

.el-loading-spinner .path{
  stroke: #1AAE9F;
}
.el-notification__group{
  font-family: Roboto, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;               
  border: 1px solid #d5d5d5
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}